VITE_DEMO_RESTAURANT_NAME="L'Amour Gourmet & Grill"
VITE_DEMO_RESTAURANT_URL="https://resturentdemolocal2brand.vercel.app/"
VITE_DEMO_RESTAURANT_STATUS="published"
VITE_DEMO_RESTAURANT_PHONE="+91 98765 43210"
VITE_DEMO_RESTAURANT_WHATSAPP="919876543210"