# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node / Dependencies
node_modules
dist
dist-ssr
*.local
.vite

# Environment Variables
.env
.env.*
.env.local
!.env.example

# Uploads and User Media
uploads/
backend/uploads/
*.crdownload
backend/uploads/*
!backend/uploads/.gitkeep

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

